## Boolean

In [1]:
type(False)

bool

In [8]:
my_str="Hello123"

In [18]:
# Check if all chars are alphanumeric
print(my_str.isalnum())
# Check if all are alphabetic
print(my_str.isalpha())
# To check if string contains digits
print(my_str.isdigit())
# To check if string contains title words
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('3'))
print(my_str.startswith('h'))
print(my_str.startswith('H'))

True
False
False
True
False
False
False
True
False
True

## List

In [19]:
lst=[]

In [20]:
type(lst)

list

In [37]:
lst=['Maths','Chem',100,200]

In [38]:
len(lst)

4

## Append
    It is used to add elements in the list
    By default adding element to the last

In [39]:
lst.append(300)

In [40]:
lst

['Maths', 'Chem', 100, 200, 300]

In [41]:
lst[:]

['Maths', 'Chem', 100, 200, 300]

In [42]:
lst[2:]

[100, 200, 300]

In [43]:
lst[1:3]

['Chem', 100]

In [44]:
#Nested List
lst.append(["John","raj"])

In [45]:
lst

['Maths', 'Chem', 100, 200, 300, ['John', 'raj']]

## Insert
    Insert in a specific order

In [46]:
lst.insert(2,"Hello")

In [47]:
lst

['Maths', 'Chem', 'Hello', 100, 200, 300, ['John', 'raj']]

## Extend Method
    It doesn't create nested list

In [56]:
bag=[1,2,3,4,5,6]

In [57]:
bag.extend([7,8])

In [58]:
bag

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
sum(bag)

36

In [60]:
bag.extend(["Hello","World"])

In [61]:
bag

[1, 2, 3, 4, 5, 6, 7, 8, 'Hello', 'World']

## pop() Method
    By default it remove from last

In [62]:
bag.pop()
bag

[1, 2, 3, 4, 5, 6, 7, 8, 'Hello']

In [63]:
bag.pop(1)
bag

[1, 3, 4, 5, 6, 7, 8, 'Hello']

## Count()
    It calculates the total occurance of agiven element of list

In [64]:
bag1=[1,1,2,3,5,1,6,8]

In [66]:
bag1.count(1)

3

In [67]:
bag1=bag1*2
bag1

[1, 1, 2, 3, 5, 1, 6, 8, 1, 1, 2, 3, 5, 1, 6, 8]

#                                                     SETS

In [75]:
set={1,2,3,4,1,2,5,6}

In [76]:
set

{1, 2, 3, 4, 5, 6}

In [77]:
set1={"A","B","C"}
set2={"A","B","C","D"}

In [78]:
set2.difference(set1)

{'D'}

In [81]:
set2.difference_update(set1)

In [82]:
set2

{'D'}

# Dictionaries

In [83]:
my_dict={"car1":"Audi","car2":"BMW"}

In [85]:
for x in my_dict:
    print(x)

car2
car1

In [86]:
for x in my_dict.values():
    print(x)

BMW
Audi

In [93]:
for x in my_dict.items():
    print(x)

('car2', 'BMW')
('car1', 'Audi')

In [94]:
my_dict['car3']='Audi 2.0'

In [95]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Audi 2.0'}

## Nested Dict

In [101]:
car1_model={'BMW':1960}
car2_model={'Audi':1970}
car_type={'car1':car1_model,'car2':car2_model}

In [102]:
print(car_type)

{'car2': {'Audi': 1970}, 'car1': {'BMW': 1960}}

In [103]:
print(car_type['car1'])

{'BMW': 1960}

In [104]:
print(car_type['car1']['BMW'])

1960

# Tuple
    Once tuple is defined elements can't be changed

In [108]:
my_tup=("A","B","C","A")

In [109]:
my_tup.count("A")

2

In [111]:
my_tup.index("A")

0